{% if categories %}
    <div class="col-md-4">


    <nav id="menu" class="navbar" style="display: inline">
        <div>
            <ul class="nav navbar-nav">
                {% for category in categories %}
                    {#{% if category.children %}#}
                        {#<li class="dropdown" onclick="location.href='{{ category.href }}';"><a#}
                                    {#href="{{ category.href }}"#}
                                    {#class="dropdown-toggle menu-default {{ category.isActive }}"#}
                                    {#data-toggle="dropdown"><span class="subline">{{ category.name }}</span></a>#}
                            {#<div class="dropdown-menu" style="display: none">#}
                                {#<div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}#}
                                        {#<ul class="list-unstyled">#}
                                            {#{% for child in children %}#}
                                                {#<li><a href="{{ child.href }}">{{ child.name }}</a></li>#}
                                            {#{% endfor %}#}
                                        {#</ul>#}
                                    {#{% endfor %}</div>#}
                            {#</div>#}
                        {#</li>#}
                    {#{% else %}#}
                        <li><a href="{{ category.href }}"
                               class="menu-default {{ category.isActive }}"><span class="subline">{{ category.name }}</span></a></li>
                    {#{% endif %}#}
                {% endfor %}
            </ul>
        </div>
    </nav>
    </div>
{% endif %}