<div id="slidebar" class="slide-bar">
  <a href="javascript:void(0)" class="closebtn visible-xs">&times;</a>



  <h2 style="font-size: 13px; line-height: 20px;">{{ text_my_account }}</h2>

  <div style="line-height: 25px">
    <div style="margin-left: 15px; margin-bottom: 10px;"><a href="{{ edit }}">{{ text_my_account }}</a></div>
    <div style="margin-left: 15px; margin-bottom: 10px;"><a href="{{ order }}">{{ text_my_orders }}</a></div>
    <div style="margin-left: 15px; margin-bottom: 10px;"><a href="{{ address }}">{{ text_address }}</a></div>
    <div style="margin-left: 15px; margin-bottom: 10px;"><a href="{{ return }}">{{ text_return }}</a></div>
    <div style="margin-left: 15px; margin-bottom: 10px;"><a href="{{ wishlist }}">{{ text_wishlist }}</a></div>
  </div>
</div>