<div id="slidebar" class="slide-bar">
  <a href="javascript:void(0)" class="closebtn visible-xs">&times;</a>
  <h3>{{ text_my_account }}</h3>
  <div style="line-height: 25px">
    <div><a href="{{ edit }}">{{ text_my_account }}</a></div>
    <div><a href="{{ order }}">{{ text_my_orders }}</a></div>
    <div><a href="{{ address }}">{{ text_address }}</a></div>
    <div><a href="{{ return }}">{{ text_return }}</a></div>
    <div><a href="{{ wishlist }}">{{ text_wishlist }}</a></div>
  </div>
</div>