<div class="groupe_list">
    {% for category in categories %}
        {% if category.category_id == category_id %}
                <div><a href="{{ category.href }}" class="actif">{{ category.name }}</a></div>
                {% if category.children %}
                    {% for child in category.children %}
                        {% if child.category_id == child_id %}
                            <div>
                                <a href="{{ child.href }}" class="actif">&nbsp;&nbsp;&nbsp;{{ child.name }}</a>
                            </div>
                        {% else %}
                            <div>
                                <a href="{{ child.href }}">&nbsp;&nbsp;&nbsp;{{ child.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
        {#{% else %}#}
            {#<div><a href="{{ category.href }}">{{ category.name }}</a></div>#}
        {% endif %}
    {% endfor %}
</div>
<script>
    $(document).scroll(function () {
        checkOffset();
    });

    function checkOffset() {

        if ($("#content").offset().top >= $(document).scrollTop()) {
            $(".groupe_list").css({"position": "absolute"});
        }
        else if ($(".text-left").offset().top + $(".text-left").height() - $(".groupe_list").height() <= $(document).scrollTop()) {
            $(".groupe_list").css({"position": "absolute"});
            $(".groupe_list").offset({"top": $(".text-left").offset().top + $(".text-left").height() - $(".groupe_list").height()})
        }
        else {
            $(".groupe_list").css({"position": "fixed", "top": "0"});
        }
    }
</script>
