{{ header }}
<div id="account-account" class="container">
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="row">
        <div id="content" class="col-lg-3 col-md-3 col-sm-3">
            <h2>{{ text_my_account }}</h2>
            <ul class="list-unstyled">
                <li><a href="{{ edit }}">{{ text_edit }}</a></li>
                <li><a href="{{ order }}">{{ text_order }}</a></li>
                <li><a href="{{ address }}">{{ text_address }}</a></li>
                <li><a href="{{ return }}">{{ text_return }}</a></li>
                <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>

</div>
{{ footer }}