{{ header }}
<div id="account-return" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h3 style="margin-bottom: 38px;" onclick="openSlide()"><span class="fa fa-align-justify visible-xs-inline" style="font-size: inherit"></span> {{ heading_title }}</h3>
        {% if returns %}
      <div class="table-responsive">
        <table  class="table table-hover">
          <thead style="background-color: RGB(254,248,250);">
            <tr>
              <th class="text-center">{{ column_return_id }}</th>
              <th class="text-center">{{ column_status }}</th>
              <th class="text-center">{{ column_date_added }}</th>
              <th class="text-center">{{ column_order_id }}</th>
              <th class="text-center">{{ column_customer }}</th>
              <td></td>
            </tr>
          </thead>
          <tbody>
          {% for return in returns %}
          <tr>
            <td class="text-center">#{{ return.return_id }}</td>
            <td class="text-center">{{ return.status }}</td>
            <td class="text-center">{{ return.date_added }}</td>
            <td class="text-center">{{ return.order_id }}</td>
            <td class="text-center">{{ return.name }}</td>
            <td class="text-center"><a href="{{ return.href }}" data-toggle="tooltip" title="" data-original-title="Vue"><i class="fa fa-arrow-circle-o-right" style="font-size: 20px"></i></a></td>
          </tr>
          {% endfor %}
            </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_no_results }}</p>
      {% endif %}
      <div class="pull-right" style="margin-top: 10px"><a href="{{ return_form }}"><button class="zalark-button">{{ button_return }}</button></a></div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
    $('#column-left').removeClass('hidden-xs');
    function openSlide() {
        $("#slidebar").css({"width": "100%"});
    }
</script>
{{ footer }} 
