{{ header }}
<div class="container">
    <div class="container-fluid" align="center">
        <h1>{{ heading_title }}</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h2>{{ text_returning_customer }}</h2>
            <hr>
            <p>{{ text_i_am_returning_customer }}</p>
            <div class="form-group">
                <label class="control-label" for="input-email">{{ entry_email }}</label>
                <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="input-password">{{ entry_password }}</label>
                <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password"
                       class="form-control"/>
                <a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
            <button type="button" value="{{ button_login }}" id="button-login" data-loading-text="{{ text_loading }}"
                    class="login-button">{{ button_login }}</button>
        </div>
        <div class="col-sm-6">
            <h2>{{ text_new_customer }}</h2>
            <hr>
            <p>{{ text_checkout }}</p>
            <p>{{ text_register_account }}</p>
            <button type="button" value="{{ button_continue }}" id="button-account"
                    data-loading-text="{{ text_loading }}" class="login-button">{{ button_continue }}</button>
        </div>
    </div>
</div>
