<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
<div style="width: 680px;">
    <div align="center">
        <a href="{{ store_url }}" title="{{ store_name }}">
            <img src="{{ logo }}" alt="{{ store_name }}"
                 style="margin-bottom: 20px; border: none;" width="100"/></a>
    </div>
    <p>{{ text_user }}</p>
    <p>{{ text_thanks }}</p>
    <p>{{ text_missing }}</p>
    <table>
        <div style="width: 49%;display: inline-block" align="left">
            <b>{{ text_order_id }}</b> #{{ order_id }}
        </div>
        <div style="width: 50%;display: inline-block" align="right">
            <b>{{ text_date_added }}</b> {{ date_added }}
        </div>
    </table>
    {#<table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">#}
    {#<thead>#}
    {#<tr>#}
    {#<td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;"#}
    {#colspan="2">{{ text_order_detail }}</td>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#<tr>#}
    {#<td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">#}
    {#<br/>#}
    {#{% if shipping_method %} <b>{{ text_shipping_method }}</b> {{ shipping_method }}#}
    {#{% endif %}</td>#}
    {#<td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">#}
    {#<b>{{ text_email }}</b> {{ email }}#}
    {#<br/>#}
    {#<b>{{ text_telephone }}</b> {{ telephone }}#}
    {#<br/>#}
    {#<b>{{ text_ip }}</b> {{ ip }}#}
    {#<br/>#}
    {#<b>{{ text_order_status }}</b> {{ order_status }}#}
    {#<br/>#}
    {#</td>#}
    {#</tr>#}
    {#</tbody>#}
    {#</table>#}
    {% if comment %}
        <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
            <thead>
            <tr>
                <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">{{ text_instruction }}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ comment }}</td>
            </tr>
            </tbody>
        </table>
    {% endif %}
    <table style="border-collapse: collapse; width: 100%; border: 1px solid #ff1b5e; margin-bottom: 20px;">
        <thead>
        <tr>
            {#<td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">{{ text_payment_address }}</td>#}
            {% if shipping_address %}
                <td style="font-size: 12px;  border: 1px solid #ff1b5e; background-color: #ff1b5e; font-weight: bold; text-align: left; padding: 7px; color: #ffffff;">{{ text_shipping_address }}</td>
            {% endif %} </tr>
        </thead>
        <tbody>
        <tr>
            {#<td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ payment_address }}</td>#}
            {% if shipping_address %}
                <td style="font-size: 12px;	border-right: 1px solid #ff1b5e; border-bottom: 1px solid #ff1b5e; text-align: left; padding: 7px;">{{ shipping_address }}</td>
            {% endif %} </tr>
        </tbody>
    </table>
    <table style="border-collapse: collapse; width: 100%; margin-bottom: 20px;">
        <tbody>
        {% for product in products %}
            <tr>
                <td rowspan="4" style="width: 20%"><img src="{{ product.image }}" alt="{{ product.name }}"/></td>
                <td style="width: 80%;font-size: 12px; text-align: left; padding: 7px; line-height: 1.5">
                    <div style="width: 49%;display: inline-block;">
                        {{ product.name }}
                    </div>
                    <div style="width: 50%;display: inline-block;text-align: right">
                        <b>{{ product.total }}</b>
                    </div>
                    <br/>
                    {{ product.manufacturer }}
                    <br/>
                    Couleur: {{ product.color }}
                    <br/>
                    {% for option in product.option %}
                        {{ option.name }}: {{ option.value }}
                    {% endfor %}
                    <br/>
                    {{ text_quantity }} :{{ product.quantity }}
                    <br/>
                    {{ product.price }}
                </td>
            </tr>
        {% endfor %}
        {% for voucher in vouchers %}
            <tr>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ voucher.description }}</td>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;"></td>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">
                    1
                </td>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ voucher.amount }}</td>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ voucher.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <table width="100%">
        <tr>
            <td style="font-size: 12px;text-align: left;">{{ text_payment_method }}</td>
            <td style="font-size: 12px;text-align: right;">
                {{ payment_method }}
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;text-align: left;">LIVRAISON:</td>
            <td style="font-size: 12px;text-align: right;">
                Gratuit
            </td>
        </tr>
        {% for total in totals %}
            <tr>
                <td style="font-size: 12px; text-align: left;">{% if loop.index == 2 %}<b>{{ total.title }}
                        :</b>{% else %}{{ total.title }}:{% endif %}</td>
                <td style="font-size: 12px;	text-align: right;">{% if loop.index == 2 %}
                        <b>{{ total.text }}</b>{% else %}{{ total.text }}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    {#<p style="margin-top: 0px; margin-bottom: 20px;">{{ text_footer }}</p>#}
    {% if customer_id %}
        <div align="center" style="margin-top: 20px">
            <a href="{{ link }}">
                <button style="background-color: #ffffff;color: black;border: 2px solid black;font-size: 14px;width: 200px;height: 38px;">
                    VOIR MA COMMANDE
                </button>
            </a>
        </div>
    {% endif %}
</div>
</body>
</html>
