{{ header }}
<div style="height: 15px; background-color: #f7f7f7; width: 100%" xmlns="http://www.w3.org/1999/html"></div>
<div id="product-category" class="container">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}
            <h1 style="font-weight: bold">{{ heading_title }}</h1>
            {% if thumb or description %}
                <div class="row">
                    {% if thumb %}
                        <div class="col-sm-12"><img src="{{ thumb }}" alt="{{ heading_title }}"
                                                    title="{{ heading_title }}" class="img-thumbnail"/></div>
                    {% endif %}
                    {% if description %}
                        <div class="col-sm-10">{{ description }}</div>
                    {% endif %}</div>
                <hr>
            {% endif %}
            {% if products %}
                <div class="row" style="position: relative; z-index: 2;margin-bottom: 15px">
                    <div style="height: 35px; z-index: 2;position: relative">
                        <div class="col-md-3">
                            <div class="col-md-11 dropdownFilter"
                                 style="position: absolute;border: 1px solid #e7e7e7; line-height: 30px;font-weight: normal;">
                                <div class="model-filter">
                                    {{ text_filter_marque }}<i class="fa fa-angle-down"
                                                               style="float: right; line-height: 30px"></i>
                                </div>
                                <div class="dropdown-filter">
                                    <div id="search" class="field input-group stylish-input-group input-append">
                                        <input class="field-input-filter" id="autoCompInput" placeholder="{{ text_search }}" name="model" value="{{ search }}">
                                        <span class="input-group-addon" style="border: none">
                                            <button id="sub" type="button">
                                                <img class="terms" src="catalog/view/theme/default/image/loupe.png">
                                            </button>
                                        </span>
                                    </div>
                                    <div class="ScrollStyle">
                                        {% for model in products_models %}
                                            <label class="check_filter">{{ model }}
                                                <input type="checkbox" name="model[]" value="{{ model }}">
                                                <span class="checkmark"></span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <button type="button" class="filter-done decouvrir"
                                                name="model">{{ text_close }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-11 dropdownFilter"
                                 style="position: absolute;border: 1px solid #e7e7e7; line-height: 30px;font-weight: normal;">
                                <div class="model-filter">
                                    {{ text_filter_color }}<i class="fa fa-angle-down"
                                                              style="float: right; line-height: 30px"></i>

                                </div>
                                <div class="dropdown-filter">
                                    <div id="search" class="field input-group stylish-input-group input-append">
                                        <input class="field-input-filter" id="autoCompInput" placeholder="{{ text_search }}" name="color" value="{{ search }}">
                                        <span class="input-group-addon" style="border: none">
                                            <button id="sub" type="button">
                                                <img class="terms" src="catalog/view/theme/default/image/loupe.png">
                                            </button>
                                        </span>
                                    </div>
                                    <div class="ScrollStyle">
                                        {% for color in products_colors %}
                                            <label class="check_filter">{{ color }}
                                                <input type="checkbox" name="color[]" value="{{ color }}">
                                                <span class="checkmark"></span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <button type="button" class="filter-done decouvrir"
                                                name="color">{{ text_close }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-11 dropdownFilter"
                                 style="position: absolute;border: 1px solid #e7e7e7; line-height: 30px;font-weight: normal;">
                                <div class="model-filter">
                                    {{ text_filter_price }}<i class="fa fa-angle-down"
                                                              style="float: right; line-height: 30px"></i>
                                </div>
                                <div class="dropdown-filter">
                                    <div>
                                        <input id="ex12c" type="range" style="width: 100%"/>
                                    </div>
                                    <div class="container-fluid" style="width: 100%;padding: 0">
                                        <span id="min-price" class="col-md-6">{{ price_min }} {{ currency }}</span>
                                        <span id="max-price" class="col-md-6">{{ price_max }} {{ currency }}</span>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label class="promos check_filter">{{ text_Promo }}
                                            <input type="checkbox" name="promo">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                    <div>
                                        <button type="button" class="filter-done decouvrir"
                                                name="price">{{ text_close }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-11 dropdownFilter"
                                 style="position: absolute;border: 1px solid #e7e7e7; line-height: 30px;font-weight: normal;">
                                <div class="model-filter">
                                    {{ text_filter_size }}<i class="fa fa-angle-down"
                                                             style="float: right; line-height: 30px"></i>
                                </div>
                                <div class="dropdown-filter">
                                    {% for model in models %}
                                        <div class="model">
                                            <input type="checkbox"><label>{{ model.model }}</label>
                                        </div>
                                    {% endfor %}
                                    <div>
                                        <button type="button" class="filter-done decouvrir"
                                                name="size">{{ text_close }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-content">

                    </div>
                    <div style="position:relative; z-index: 1; margin-top: 30px;">
                        <div class="col-md-6 col-xs-6" style="color: #9da7af">
                            {{ count }} articles
                        </div>
                        <div class="col-md-6 col-xs-6" align="right">
                            <span style="color: #9da7af">
                                {{ text_sort }}
                            </span>
                            <select id="input-sort" class="selectpicker"
                                    onchange="location = this.value;">
                                {% for sorts in sorts %}
                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                        <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                    {% else %}
                                        <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <i class="fa fa-angle-down" style="position: absolute; right: 20px;top: 3px;"></i>
                        </div>
                    </div>
                    {#<div class="col-md-3 col-xs-6">#}
                    {#<div class="form-group input-group input-group-sm">#}
                    {#<label class="input-group-addon" for="input-limit">{{ text_limit }}</label>#}
                    {#<select id="input-limit" class="form-control" onchange="location = this.value;">#}
                    {#{% for limits in limits %}#}
                    {#{% if limits.value == limit %}#}
                    {#<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>#}
                    {#{% else %}#}
                    {#<option value="{{ limits.href }}">{{ limits.text }}</option>#}
                    {#{% endif %}#}
                    {#{% endfor %}#}
                    {#</select>#}
                    {#</div>#}
                    {#</div>#}
                </div>
                <div class="row" style="position: relative;z-index:1;">
                    {% for product in products %}
                        <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12 swiper-slide">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="{{ product.href }}">
                                        <img src="{{ product.thumb }}"
                                             alt="{{ product.name }}"
                                             title="{{ product.name }}"
                                             class="img-responsive"
                                        /></a>
                                </div>
                                <div class="caption">
                                    <div class="desctip col-sm-12 col-xs-12">
                                        <h4 class="SheosName"><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                        {% if product.price %}
                                            {% if not product.special %}
                                                <p class="SheosPrice">{{ product.price }}</p>
                                            {% else %}
                                                <span class="price-old SheosPrice">{{ product.price }}</span><br>
                                                <span class="price-new SheosPrice">{{ product.special }}</span>
                                            {% endif %}
                                        {% endif %}
                                        <div class="same">
                                            {% if product.simulate %}
                                                <img class="smallSame img-default" src="{{ product.thumb }}">
                                                {% for same in product.simulate %}
                                                    <img class="smallSame" src="{{ same.popup }}">
                                                {% endfor %}
                                            {% endif %}
                                            {#<p>Disponible en plusieurs tailles</p>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><img src="catalog/view/theme/default/image/favoris.png"
                                      style=" margin-right:20px;margin-top: 10px; position: absolute; top: 0;right: 0;width: 20px">
                            </div>
                        </div>
                    {% endfor %} </div>
                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            {% endif %}
            {% if not categories and not products %}
                <p>{{ text_no_results }}</p>
                <div class="buttons">
                    <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
                    </div>
                </div>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}
<script>
    $(document).ready(function () {
        $('.model-filter').click(function () {
                if ($(".dropdown-filter", this.parentNode).css('display') === 'block') {
                    $(".dropdown-filter", this.parentNode).hide(200);
                    $(this.parentNode).css({"border": "1px solid #e7e7e7"});
                } else {
                    $('.dropdown-filter').hide(200);
                    $('.dropdownFilter').css({"border": "1px solid #e7e7e7"});
                    $(".dropdown-filter", this.parentNode).show(200);
                    $(this.parentNode).css({"border": "2px solid black"});
                }
            }
        );
    });
    $(function () {
        $(".product-layout").hover(
            function () {
                $('.same', this).show(400)
            }, function () {
                $('.same', this).hide(400)
            })
    });
    $(function () {
        $(".smallSame").hover(
            function () {
                $(this).css('border', '1px solid black');
                this.parentNode.parentNode.parentNode.parentNode.children[0].children[0].children[0].src = this.src;
            }, function () {
                $(this).css('border', 'none');
                this.parentNode.parentNode.parentNode.parentNode.children[0].children[0].children[0].src = this.parentNode.children[0].src;
            });
    });
    $("#ex12c").slider({
        id: "slider12c",
        min: {{ price_min }},
        max: {{ price_max }},
        range: true,
        value: [{{ price_min }}, {{ price_max }}]
    });
    $("#ex12c").on("change", function (e) {
        $("#max-price").html(e.value['newValue'][1] + " {{ currency }}");
        $("#min-price").html(e.value['newValue'][0] + " {{ currency }}");
    });
    let filters = Array();

    $("input:checkbox").click( function (e) {
       if($(this).is(':checked'))
           filters.push($(this).val());
       else
           filters.splice($(this).val(),1);
    });

    $(".filter-done").on("click", function (e) {
       filterGenerator();
    });

   function removeFilter(e) {
        jQuery.grep($("input:checkbox"), function (a) {
            if(a.value === e.innerText){
                $(a).prop('checked', false);
            }
        });
        filters.splice(filters.indexOf(e.innerText),1);
        filterGenerator();
   }
    function filterGenerator() {
        $('body').loading({message: "chargement" });
        $(".filter-content").empty();
        for (i = 0; i < filters.length; i++){
            $(".filter-content").append('<span class="filter-generate" onclick="removeFilter(this)">' + filters[i] + '<i class="fa fa-close" style="margin-left: 5px"></i></span>');
        }
        //     var xmlhttp = new XMLHttpRequest();
        //     xmlhttp.onreadystatechange = function() {
        //         if (this.readyState == 4 && this.status == 200) {
        //             document.getElementById("txtHint").innerHTML = this.responseText;
        //         }
        //     };
        //     xmlhttp.open("GET", "gethint.php?q=" + str, true);
        //     xmlhttp.send();
        //

        if (filters.length >= 3 && $('.clear-all-filters').get().length === 0){
            $(".filter-content").prepend('<span class="filter-generate clear-all-filters" onclick="removeAllFilters()">{{ text_clear_filter }}<i class="fa fa-close" style="margin-left: 5px"></i></span>');
        }
        $('.dropdown-filter').hide(200);
        $('.dropdownFilter').css({"border": "1px solid #e7e7e7"});
        $('body').loading('stop');

    }
    let models = $('input[name*=\'model[]\']').get();
    let colors = $('input[name*=\'color[]\']').get();
    function removeAllFilters() {
       let arr = $('.filter-generate').get();
       while (arr.length !== 0){
           console.log(arr.length);
           removeFilter(arr[arr.length-1]);
           arr = $('.filter-generate').get();
        }
    }

    $(".field-input-filter").on('input', function() {
        $(".ScrollStyle").empty();
        let arr = Array();
        if(this.name === "color"){
            arr = colors;
        }else if(this.name === "model"){
            arr = models;
        }
        for(i=0;i<arr.length;i++){
            console.log(arr[i].value);
            if(arr[i].value.includes(this.value))
                $(".ScrollStyle").append("<label class=\"check_filter\">" + arr[i].value +
                    "<input type=\"checkbox\" name=\"color[]\" value=\"" + arr[i].value + "\">" +
                    "<span class=\"checkmark\"></span>" +
                    "</label>");
        }
    });

</script>