{{ header }}
<div style="height: 15px; background-color: #f7f7f7; width: 100%" xmlns="http://www.w3.org/1999/html"></div>
<div id="product-category" class="container">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}
            <h1 style="font-weight: bold">{{ heading_title }}</h1>
            {% if thumb or description %}
                <div class="row">
                    {% if thumb %}
                        <div class="col-sm-12"><img src="{{ thumb }}" alt="{{ heading_title }}"
                                                    title="{{ heading_title }}" class="img-thumbnail"/></div>
                    {% endif %}
                    {% if description %}
                        <div class="col-sm-10">{{ description }}</div>
                    {% endif %}</div>
                <hr>
            {% endif %}
            {% if products %}
                <div class="row" style="position: relative; z-index: 2;margin-bottom: 15px">
                    <div style="height: 35px; z-index: 2;position: relative">
                        <div class="col-md-3">
                            <div class="col-md-11 dropdownFilter"
                                 style="position: absolute;border: 1px solid #e7e7e7; line-height: 30px;font-weight: normal;">
                                <div class="model-filter">
                                    {{ text_filter_marque }}<i class="fa fa-angle-down"
                                                               style="float: right; line-height: 30px"></i>
                                </div>
                                <div class="dropdown-filter">
                                    <div id="search" class="field input-group stylish-input-group input-append">
                                        <input class="field-input-filter"
                                               placeholder="{{ text_search }}" name="model" value="{{ search }}">
                                        <span class="input-group-addon" style="border: none">
                                            <button id="sub" type="button">
                                                <img class="terms" src="catalog/view/theme/default/image/loupe.png">
                                            </button>
                                        </span>
                                    </div>
                                    <div id="model" class="ScrollStyle">
                                        {% for model in products_models %}
                                            <label class="check_filter check-model">{{ model }}
                                                <input class="checkbox" type="checkbox" name="model[]"
                                                       value="{{ model }}">
                                                <span class="checkmark"></span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <button type="button" class="filter-done decouvrir"
                                                name="model">{{ text_close }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-11 dropdownFilter"
                                 style="position: absolute;border: 1px solid #e7e7e7; line-height: 30px;font-weight: normal;">
                                <div class="model-filter">
                                    {{ text_filter_color }}<i class="fa fa-angle-down"
                                                              style="float: right; line-height: 30px"></i>
                                </div>
                                <div class="dropdown-filter">
                                    <div id="search" class="field input-group stylish-input-group input-append">
                                        <input class="field-input-filter"
                                               placeholder="{{ text_search }}" name="color" value="{{ search }}">
                                        <span class="input-group-addon" style="border: none">
                                            <button id="sub" type="button">
                                                <img class="terms" src="catalog/view/theme/default/image/loupe.png">
                                            </button>
                                        </span>
                                    </div>
                                    <div id="color" class="ScrollStyle">
                                        {% for color in products_colors %}
                                            <label class="check_filter check-color">{{ color }}
                                                <input class="checkbox" type="checkbox" name="color[]"
                                                       value="{{ color }}">
                                                <span class="checkmark"></span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <button type="button" class="filter-done decouvrir"
                                                name="color">{{ text_close }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-11 dropdownFilter"
                                 style="position: absolute;border: 1px solid #e7e7e7; line-height: 30px;font-weight: normal;">
                                <div class="model-filter">
                                    {{ text_filter_price }}<i class="fa fa-angle-down"
                                                              style="float: right; line-height: 30px"></i>
                                </div>
                                <div class="dropdown-filter">
                                    <div>
                                        <input id="ex12c" type="range" style="width: 100%"/>
                                    </div>
                                    <div id="price" class="container-fluid" style="width: 100%;padding: 0">
                                        <span id="min-price" class="col-md-6">{{ price_min }} {{ currency }}</span>
                                        <span id="max-price" class="col-md-6">{{ price_max }} {{ currency }}</span>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label class="promos check_filter">{{ text_Promo }}
                                            <input type="checkbox" name="promo">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                    <div>
                                        <button type="button" class="filter-done decouvrir"
                                                name="price">{{ text_close }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-11 dropdownFilter"
                                 style="position: absolute;border: 1px solid #e7e7e7; line-height: 30px;font-weight: normal;">
                                <div class="model-filter">
                                    {{ text_filter_size }}<i class="fa fa-angle-down"
                                                             style="float: right; line-height: 30px"></i>
                                </div>
                                <div class="dropdown-filter">
                                    <div id="search" class="field input-group stylish-input-group input-append">
                                        <input class="field-input-filter"
                                               placeholder="{{ text_search }}" name="color" value="{{ search }}">
                                        <span class="input-group-addon" style="border: none">
                                            <button id="sub" type="button">
                                                <img class="terms" src="catalog/view/theme/default/image/loupe.png">
                                            </button>
                                        </span>
                                    </div>
                                    <div id="size" class="ScrollStyle">
                                        {#{% for color in products_colors %}#}
                                        {#<label class="check_filter">{{ color }}#}
                                        {#<input type="checkbox" name="color[]" value="{{ color }}">#}
                                        {#<span class="checkmark"></span>#}
                                        {#</label>#}
                                        {#{% endfor %}#}
                                    </div>
                                    <div>
                                        <button type="button" class="filter-done decouvrir"
                                                name="color">{{ text_close }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-content">

                    </div>
                    <div style="position:relative; z-index: 1; margin-top: 30px;">
                        <div class="product-count col-md-6 col-xs-6" style="color: #9da7af">
                            {{ product_total }} articles
                        </div>
                        <div class="col-md-6 col-xs-6" align="right">
                            <span style="color: #9da7af">
                                {{ text_sort }}
                            </span>
                            <select id="input-sort" class="selectpicker"
                                    onchange="location = this.value;">
                                {% for sorts in sorts %}
                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                        <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                    {% else %}
                                        <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <i class="fa fa-angle-down" style="position: absolute; right: 20px;top: 3px;"></i>
                        </div>
                    </div>
                </div>
                <div class="product-container row" style="position: relative;z-index:1;">
                    {% for product in products %}
                        <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <span id="product-id" style="display: none">{{ product.product_id }}</span>
                            <a href="{{ product.href }}">
                                <div class="product-thumb transition">
                                    <div class="image">
                                        <img src="{{ product.thumb }}"
                                             alt="{{ product.name }}"
                                             title="{{ product.name }}"
                                             class="img-responsive"
                                             style="width: 100%"
                                        />
                                    </div>
                                    <div class="caption">
                                        <div class="desctip col-sm-12 col-xs-12">
                                            <h4 class="SheosName"><a href="{{ product.href }}">{{ product.name }}</a>
                                            </h4>
                                            {% if product.price %}
                                                {% if not product.special %}
                                                    <p class="SheosPrice">{{ product.price }}</p>
                                                {% else %}
                                                    <span class="price-old SheosPrice">{{ product.price }}</span><br>
                                                    <span class="price-new SheosPrice">{{ product.special }}</span>
                                                {% endif %}
                                            {% endif %}
                                            <div class="same">
                                                {#<p>Disponible en plusieurs tailles</p>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div><img src="{{ product.favorite }}" class="favorite"
                                      title="ajouter au favoris">
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row col-sm-12" style="margin: 30px 0 30px 0">
                        {#<div class="col-sm-6 text-center">{{ pagination }}</div>#}
                        <div class="col-sm-12 text-center pagination">{{ results }}</div>
                    </div>
                </div>
            {% endif %}
            {% if not categories and not products %}
                <p>{{ text_no_results }}</p>
                <div class="buttons">
                    <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
                    </div>
                </div>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}
<script>
    $(document).ready(function () {
        $('.model-filter').click(function (e) {
                e.stopPropagation();
                if ($(".dropdown-filter", this.parentNode).css('display') === 'block') {
                    $(".dropdown-filter", this.parentNode).hide(200);
                    $(this.parentNode).css({"border": "1px solid #e7e7e7"});
                } else {
                    $('.dropdown-filter').hide(200);
                    $('.dropdownFilter').css({"border": "1px solid #e7e7e7"});
                    $(".dropdown-filter", this.parentNode).show(200);
                    $(this.parentNode).css({"border": "2px solid black"});
                }
            }
        );
        let s = $_GET("filter");
        if (s !== null) {
            filters = s.split('_');
            filterGenerator();
        } else {
            filters = Array();
        }
    });

    function $_GET(param) {
        let vars = {};
        window.location.href.replace(location.hash, '').replace(
            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
            function (m, key, value) { // callback
                vars[key] = value !== undefined ? value : '';
            }
        );

        if (param) {
            return vars[param] ? vars[param] : null;
        }
        return vars;
    }

    sethover();

    $("#ex12c").slider({
        id: "slider12c",
        min: {{ price_min }},
        max: {{ price_max }},
        range: true,
        value: [{{ price_min }}, {{ price_max }}]
    });
    let price = Array();

    $("#ex12c").on("change", function (e) {
        $("#max-price").html(e.value['newValue'][1] + " {{ currency }}");
        $("#min-price").html(e.value['newValue'][0] + " {{ currency }}");
        filters.splice(filters.indexOf(price[0]), 1);
        filters.splice(filters.indexOf(price[1]), 1);
        price[0] = "prixMax[]" + e.value['newValue'][1];
        price[1] = "prixMin[]" + e.value['newValue'][0];
    });
    let filters = Array();

    $("input:checkbox").on('click', function (event) {
        event.stopPropagation();
        check(this)
    });

    $(".filter-done").on("click", function (e) {
        filterGenerator();
    });

    function removeFilter(e) {
        jQuery.grep($("input:checkbox"), function (a) {
            if (a.value === e.innerText) {
                $(a).prop('checked', false);
            }
        });
        filters.forEach(function (item) {
            if (item.includes(e.innerText.replace(":", "[]")) || item === e.innerText) {
                filters.splice(filters.indexOf(item), 1);
                price.splice(filters.indexOf(item), 1);
                filterGenerator();
                return;
            }
        });
    }

    $(document).click(function (e) {
        $.map($(".dropdown-filter").get(), function (item) {
            if (item.style.display === "block" && $.inArray(e.target.tagName, ['INPUT', 'SPAN', 'LABEL']) === -1) {
                filterGenerator();
            }
        });
    });

    function filterGenerator() {
        $('body').loading({message: "chargement.."});
        $(".filter-content").empty();
        if (price.length > 0) if ($.inArray(price[0], filters) === -1) filters = filters.concat(price);
        for (i = 0; i < filters.length; i++) {
            $(".filter-content").append('<span class="filter-generate" onclick="removeFilter(this)">' + (($.inArray(filters[i], price) !== -1) ? filters[i].replace('[]', ":") : filters[i].split('[]')[1]) + '<i class="fa fa-close" style="margin-left: 5px"></i></span>');
        }

        updateQueryStringParam("filter", filters.join("_"));

        if (filters.length >= 3 && $('.clear-all-filters').get().length === 0) {
            $(".filter-content").prepend('<span class="filter-generate clear-all-filters" onclick="removeAllFilters()">{{ text_clear_filter }}<i class="fa fa-close" style="margin-left: 5px"></i></span>');
        }

        $('.dropdown-filter').hide(200);
        $('.dropdownFilter').css({"border": "1px solid #e7e7e7"});
    }

    let models = $('input[name*=\'model[]\']').get();
    let colors = $('input[name*=\'color[]\']').get();

    function removeAllFilters() {
        let arr = $('.filter-generate').get();
        while (arr.length !== 0) {
            removeFilter(arr[arr.length - 1]);
            arr = $('.filter-generate').get();
        }
    }

    $(".field-input-filter").on('input', function () {
        $(".ScrollStyle").empty();
        let arr = Array();
        if (this.name === "color") {
            arr = colors;
        } else if (this.name === "model") {
            arr = models;
        }
        for (i = 0; i < arr.length; i++) {
            if (arr[i].value.includes(this.value))
                $(".ScrollStyle").append("<label class=\"check_filter\">" + arr[i].value +
                    "<input class=\"checkbox\" type=\"checkbox\" name=\"" + this.name + "[]\" value=\"" + arr[i].value + "\">" +
                    "<span class=\"checkmark\"></span>" +
                    "</label>");
        }
    });

    function updateQueryStringParam(param, value) {
        baseUrl = [location.protocol, '//', location.host, location.pathname].join('');
        urlQueryString = document.location.search;
        let newParam = param + '=' + value;
        let params = '?' + newParam;
        // If the "search" string exists, then build params from it
        if (urlQueryString && value !== '') {
            keyRegex = new RegExp('([\?&])' + param + '[^&]*');
            // If param exists already, update it
            if (urlQueryString.match(keyRegex) !== null) {
                params = urlQueryString.replace(keyRegex, "$1" + newParam);
            } else { // Otherwise, add it to end of query string
                params = urlQueryString + '&' + newParam;
            }
        } else {
            params = urlQueryString.replace("&filter=" + $_GET("filter"), "");
        }

        window.history.replaceState({}, "", baseUrl + params);
        $.ajax({
            url: "index.php?route=product/category/filter&path=" + $_GET('path') + "&filter=" + $_GET("filter"),
            type: "GET",
            dataType: "json",
            success: function (json) {
                updateFilters(json);
                updateProducts(json['products'], json['pagination']);
                $('body').loading('stop');
            },
            error: function (result, status, s) {
                $('body').loading('stop');
            },
        });
    }

    function updateProducts(products, pagination) {
        html = "";
        $.map(products, function (item) {
            html += '<div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">';
            html += '<span id="product-id" style="display: none">' + item['product_id'] + '</span><a href="' + item['href'] + '">';
            html += '<div class="product-thumb transition">';
            html += '<div class="image"><a href="' + item['href'] + '"><img src = "' + item['thumb'] + '" alt="' + item['name'] + '" title = "' + item['name'] + '" class="img-responsive"/></a></div>';
            html += '<div class="caption" ><div class="desctip col-sm-12 col-xs-12" ><h4 class="SheosName"><a href = "' + item['href'] + '" >' + item['name'] + '</a></h4>';
            if (item.hasOwnProperty('price') === true) {
                if (item.hasOwnProperty('special') === false) {
                    html += '<p class="SheosPrice" >' + item['price'] + '</p>';
                } else {
                    html += '<span class="price-old SheosPrice" >' + item['price'] + '</span><br>';
                    html += '<span class="price-new SheosPrice" >' + item['price'] + '</span>';
                }
            }
            html += '<div class="same"></div>';
            {#<p>Disponible en plusieurs tailles</p>#}
            html += '</div></div></div><div></a><img src="' + item['favorite'] + '" style="margin-right:20px;margin-top: 10px; position: absolute; top: 0;right: 0;width: 20px"></div></div>'
        });
        html += '<div class="row col-sm-12" style="margin: 30px 0 30px 0">';
        html += '<div class="col-sm-6 text-center pagination">' + pagination + '</div></div>';
        $('.product-container').empty();
        $('.product-container').html(html);
        sethover();
    }

    function updateFilters(json) {
        $(".product-count").text(json['product_total'] + " articles");
        $("#model").empty();
        $("#color").empty();
        $.map(json['products_models'], function (item) {
            $("#model").append('<label class="check_filter">' + item +
                '<input type="checkbox" name="model[]" value="' + item + '">' +
                '<span class="checkmark"></span></label>')
        });
        $.map(json['products_colors'], function (item) {
            $("#color").append('<label class="check_filter">' + item +
                '<input type="checkbox" name="color[]" value="' + item + '">' +
                '<span class="checkmark"></span></label>')
        });

        $("#ex12c").slider({
            id: "slider12c",
            min: json['price_min'],
            max: json['price_max'],
            range: true,
            value: [json['price_min'], json['price_max']]
        });

        $('#max-price').html(json['price_max']);
        $('#min-price').html(json['price_min']);

        $("input:checkbox").on('click', function (event) {
            check(this);
        });
    }

    function check(e) {
        if ($(e).is(':checked')) {
            if ($.inArray($(e)[0].name + $(e).val(), filters))
                filters.push($(e)[0].name + $(e).val());
        } else {
            filters.splice(filters.indexOf($(e)[0].name + $(e).val()), 1);
        }
    }

    $('.favorite').click(function () {
        if (this.src.includes('Added')) {
            this.src = "catalog/view/theme/default/image/favorite.png";
            wishlist.remove(this.parentElement.parentElement.children[0].innerHTML);
        } else {
            this.src = "catalog/view/theme/default/image/favoriteAdded.png";
            wishlist.add(this.parentElement.parentElement.children[0].innerHTML)
        }
    })
</script>