<page>
    <page_header></page_header>
    {% for order in orders %}
        <table style="width: 100%;vertical-align: bottom">
            <tr style="width: 100%">
                <td style="width: 30%">
                    <img src="view/image/logo.png" style="width: 100%">
                </td>
                <td style="width: 40%;">

                </td>
                <td style="width: 30%">
                    <img src="view/image/logo.png" style="width: 100%">
                </td>
            </tr>
        </table>

        <table style="margin-top: 10mm">
            <tr>
                <th><h2>Bonjour, {{ order.customer }}</h2></th>
            </tr>
        </table>

        <table style="margin-top: 5mm;width: 100%">
            {% if order.shipping_method %}
                <tr>
                    <th>{{ text_shipping_method }}:</th>
                    <td>{{ order.shipping_method }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ text_payment_method }}:</th>
                <td style="width: 32%">{{ order.payment_method }}</td>
                <th>{{ text_order_id }}</th>
                <td>#{{ order.order_id }}</td>
            </tr>
            <tr>
                <th>{{ text_order_id }}</th>
                <td style="width: 32%">#{{ order.order_id }}</td>
                <th>code de routeur:</th>
                <td>#{{ order.order_id }}</td>
            </tr>
            {% if order.invoice_no %}
                <tr>
                    <th>
                        {{ text_invoice_no }}
                    </th>
                    <td>{{ order.invoice_no }}</td>
                </tr>
            {% endif %}

            <tr>
                <th>{{ text_date_added }}</th>
                <td>{{ order.date_added }}</td>
            </tr>
        </table>

        <table style="width: 100%;margin-top: 5mm;">
            <tr style="width:100%;">
                <th style="width: 48%;border : 1px solid #ff1b5a;background-color: #ff1b5a;color: whitesmoke;padding: 4px">
                    {{ text_shipping_address }}
                </th>
                <td style="width: 4%">

                </td>
                <th style="width: 48%;border : 1px solid #ff1b5a;background-color: #ff1b5a;color: whitesmoke;padding: 4px">
                    {{ text_return_address }}
                </th>
            </tr>
            <tr style="width: 100%;">
                <td style="width: 48%;border-bottom : 1px solid #ff1b5a;border-left:1px solid #ff1b5a;border-right: 1px solid #ff1b5a;padding-left: 4px">
                    {% if order.shipping_address %}
                        <div style="line-height: 1.5">{{ order.shipping_address }}
                        </div>
                    {% endif %}
                </td>
                <td style="width: 4%">

                </td>
                <td style="width: 48%;border-bottom : 1px solid #ff1b5a;border-left:1px #ff1b5a;border-right: 1px #ff1b5a;padding-left: 4px">
                    <div style="line-height: 1.5">
                        {{ order.store_name }}<br/>
                        {{ order.store_address }}<br/>
                        {{ order.store_city.name }}<br/>
                        {{ order.store_country.name }}<br/>
                        {{ order.store_telephone }}
                    </div>
                </td>
            </tr>
        </table>
    {% endfor %}
</page>